#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cy {
    width: 90%;
    height: 750px;
    margin: auto; 
    display: block;
}

#desc {
    width: 500px;
    height: 150px;
    background-color: rgb(209, 209, 209);
}

#descname {
    text-align: center;
}

#planename {
    text-align: center;
}

#typename {
    text-align: center;
}

.sidebarelem {
    color: rgb(44, 44, 44);
}
.sidebarelem:hover {
    cursor: pointer; 
    color: black; 
}